$text-light: #fafafa;
$bg-color: #343a40;
$dropdown-bg-color: #222;
$bg-hover-color: blueviolet;

$color-primary: #007bff;
$color-danger :#dc3545;
$color-warning:#ffc107;
$color-success:#28a745;

$color-theme:rgb(138, 44, 226);
$color-theme-active:#6e20b8;