@import'../../../index.scss';

$transition-time:.3s;
$radio-ripple-size: 3.5rem;
$checkmark-size:20px;
$padding-top:8px;
$label-font-size:1rem;

.FormField {
   margin: 1rem auto;
}

.FormFieldControl {
   padding: 0.5rem;
}

label.Radio {
   padding: $padding-top 0;
   position: relative;
   box-sizing: border-box;
   color: ragba(0, 0, 0, .5);
   padding-left: 1.5rem;
   font-size: $label-font-size;
   font-weight: 500;
   text-transform: capitalize;
   vertical-align: middle;
   cursor: pointer;


   input[type="radio"] {
      display: none;

      &:checked~span.Checkmark {
         border: 2.5px solid $color-theme;
      }

      &:checked~span.Checkmark:after {
         transform: translate(-50%, -50%) scale(1);
         background-color: $color-theme;
      }

      &:checked~span.Ripple {
         animation: ripple1 $transition-time linear forwards;
      }

      &~span.Ripple {
         animation: ripple2 $transition-time linear forwards;
      }
   }

   .Checkmark {
      position: absolute;
      left: 0;
      top: calc(#{$label-font-size} / 2);
      height: $checkmark-size;
      width: $checkmark-size;
      border-radius: 50%;
      border: 2px solid #ccc;
      display: block;

      &::after {
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%) scale(0);
         content: "";
         height: 60%;
         width: 60%;
         border-radius: 50%;
         display: block;
         transition: $transition-time ease-in-out 0s;
      }
   }

   .Ripple {
      position: absolute;
      left: calc((#{$checkmark-size} - #{$radio-ripple-size}) / 2);
      top: calc(#{$padding-top} + #{$checkmark-size} / 2 - #{$radio-ripple-size} / 2);
      display: block;
      width: $radio-ripple-size;
      height: $radio-ripple-size;
      border-radius: 50%;
   }

   .Hover {
      position: absolute;
      left: calc((#{$checkmark-size} - #{$radio-ripple-size}) / 2);
      top: calc(#{$padding-top} + #{$checkmark-size} / 2 - #{$radio-ripple-size} / 2);
      display: block;
      width: $radio-ripple-size;
      height: $radio-ripple-size;
      border-radius: 50%;
      background-color: transparent;
      transition: all $transition-time;

      &:hover {
         background-color: rgba($color-theme, 0.05);
      }
   }
}


@keyframes ripple1 {
   0% {
      transform: scale(0);
   }

   60% {
      background: rgba($color-theme, .3);
      transform: scale(1);
   }

   100% {
      opacity: 0;
      transform: scale(1);
   }
}


@keyframes ripple2 {
   0% {
      transform: scale(0);
   }

   60% {
      background: rgba(0, 0, 0, .3);
      transform: scale(1);
   }

   100% {
      opacity: 0;
      transform: scale(1);
   }
}