@import '../../../index.scss';

.context-menu {
   position: absolute;
   color: $text-light;
   background-color: black;
   list-style: none;
   z-index: 100;
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);

   &-item {
      border-bottom: 1px solid #222;
      width: 100%;

      button,
      a {
         width: 100%;
         background-color: black;
         color: $text-light;
         padding: 0.5rem 1rem;
         border: none;
         outline: none;
         display: inline-block;
         text-decoration: none;
         transition: all 0.5s ease-out;
         display: flex;
         justify-content: space-between;

         &:hover {
            background-color: $color-theme;
         }

         .fas {
            margin-left: 0.5rem;
         }
      }
   }
}