$pin-size:30px;

.Pin {
   width: $pin-size;
   height: $pin-size;
   border-radius: 50% 50% 50% 0;
   background: #89849b;
   position: absolute;
   transform: rotate(-45deg);
   margin: -20px 0 0 -20px;
   animation-name: bounce;
   animation-fill-mode: both;
   animation-duration: 1s;

   &:after {
      content: "";
      width: calc(#{$pin-size}/2 - 1px);
      height:calc(#{$pin-size}/2 - 1px);
      margin: 8px 0 0 8px;
      background: rgba(0, 0, 0, .8);
      position: absolute;
      border-radius: 50%;
   }
}

.Pulse {
   background: rgba(0, 0, 0, 0.2);
   border-radius: 50%;
   height: calc(#{$pin-size} / 2);
   width: calc(#{$pin-size} / 2);
   position: absolute;
   margin: 11px 0px 0px -12px;
   transform: rotateX(55deg);
   z-index: -2;

   &:after {
      content: "";
      border-radius: 50%;
      height: calc(#{$pin-size} + 10px);
      width: calc(#{$pin-size} + 10px);
      position: absolute;
      margin: -13px 0 0 -13px;
      animation: pulsate 1s ease-out 1.1s;
      animation-iteration-count: infinite;
      opacity: 0.0;
      box-shadow: 0 0 1px 2px #89849b;
   }
}

@keyframes pulsate {
   0% {
      transform: scale(0.1, 0.1);
      opacity: 0.0;
   }

   50% {
      opacity: 1.0;
   }

   100% {
      transform: scale(1.2, 1.2);
      opacity: 0;
   }
}

@keyframes bounce {
   0% {
      opacity: 0;
      transform: translateY(-2000px) rotate(-45deg);
   }

   60% {
      opacity: 1;
      transform: translateY(30px) rotate(-45deg);
   }

   80% {
      transform: translateY(-10px) rotate(-45deg)
   }

   100% {
      transform: translateY(0) rotate(-45deg)
   }
}